*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    height: 100vh;
}

div.container-carousel{
    width: 1200px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
}

.carousel-img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    display: none;
    position: absolute;

    bottom: 10%;
    right: 0;
    text-align: center;
}

.text{
    display: none;
    position: absolute;

    bottom: 5%;
    right: 0;
    text-align: center;
}

.active {
    display: block;
}

i{
    font-size: 2rem;
}
